<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ChronicAid{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link href="{{ asset('assets1/img/favicon.png') }}" rel="icon">
        <link href="{{ asset ('assets1/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{ asset ('assets1/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets1/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets1/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets1/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets1/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets1/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets1/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets1/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{ asset ('assets1/css/style.css') }}" rel="stylesheet">
    {% endblock %}
    {% block js %}
        <!-- Vendor JS Files -->
        <script src="{{ asset ('assets1/vendor/purecounter/purecounter_vanilla.js') }}"></script>
        <script src="{{  asset ('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset ('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
        <script src="{{ asset ('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
        <script src="{{  asset ('assets/vendor/php-email-form/validate.js') }}"></script>

        <!-- Template Main JS File -->
        <script src="{{  asset ('assets/js/main.js') }}"></script>


    {% endblock %}


</head>
<body>
{% block topbar %}
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">raefet.jlidi@esprit.tn</a>
                <i class="bi bi-phone"></i> +21652647155
            </div>
            <div class="d-none d-lg-flex social-links align-items-center">
                <a href="https://www.facebook.com/profile.php?id=100089959789141&mibextid=ZbWKwL" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100089959789141&mibextid=ZbWKwL" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">

        <div class="container d-flex align-items-center">

            <a href="http://127.0.0.1:8000/index2" class="logo me-auto">
                <img src="assets/img/logo1.png" alt="" class="img-fluid">
                <span class="logo me-auto">Chronicaid</span>
            </a>
            <!-- Uncomment below if you prefer to use an image logo -->
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">acceuil</a></li>
                    <li><a class="nav-link scrollto" href="#about">a propos</a></li>
                    <li><a class="nav-link scrollto" href="#departments">les departements</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <a href="http://127.0.0.1:8000/index2" class="appointment-btn scrollto"><span class="d-none d-md-inline">creer un</span> compte</a>

        </div>
    </header><!-- End Header -->
{% endblock %}

{% block hero %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h1>bienvenue a ChronicAid</h1>
            <h2>se faire aider pour mieux s'adapter</h2>
            <a href="http://127.0.0.1:8000/index2" class="btn-get-started scrollto">commencer</a>
        </div>
    </section><!-- End Hero -->
{% endblock %}
{% block whyus %}
<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>pourqoui ChronicAid?</h3>
                        <p>
                            Chronicaid est une plateforme permettant aux patients souffrant des maladies chroniques, de mieux gérer leurs suivis médicaux sur le plan psychologique. Cette plateforme nouvelle génération propose aux patients une gestion facilitée de leurs prises de rendez-vous avec les médecins psychologues qui sont inscrits sur la plateforme.

                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn">ChronicAid <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-browser-chrome"></i>
                                    <h4>site web</h4>
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-phone"></i>
                                    <h4>application mobile</h4>
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-laptop"></i>
                                    <h4>application desktop</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
{% endblock %}
{% block aboutus %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                    <a href="https://youtu.be/6QZGDsif14g" class="glightbox play-btn mb-4"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>ChronicAid</h3>
                    <p>Cette plateforme nouvelle génération propose aux patients une gestion facilitée de leurs prises de rendez-vous avec les médecins psychologues qui sont inscrits sur la plateforme.
                        Le patient sera notifié avant chaque consultation et surtout pour la prise de ses médicaments grâce à un service de gestion des rappels.
                        Et afin d'assurer un travail de qualité, notre plateforme offre un service de réclamation soit pour réclamer des consultations qui sont mal passée, ou bien tout simplement l'utilisateur est mécontent ou il a rencontré un souci de fonctionnement.</p>

                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-lock"></i></div>
                        <h4 class="title"><a href="">securite et confidentialité</a></h4>
                        <p class="description">nous assurons la secruite pour vous</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-file-earmark-lock"></i></div>
                        <h4 class="title"><a href="">fiabilite</a></h4>
                        <p class="description">notre site est fiable</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-hand-thumbs-up"></i></div>
                        <h4 class="title"><a href="">simplicite</a></h4>
                        <p class="description"> le site est tres simlpe pour l utulisation</p>
                    </div>


                </div>
            </div>

        </div>
    </section><!-- End About Section -->

{% endblock %}
{% block departement %}
    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
        <div class="container">

            <div class="section-title">
                <h2>Departements</h2>
                <p>voici tous nos domaines</p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">psychologie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">psychiatrie</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>La psychiatrie</h3>
                                    <p class="fst-italic">La psychiatrie est une spécialité médicale au même titre que la cardiologie ou la chirurgie.</p>
                                    <p> Elle se consacre au diagnostic, à la prévention et aux traitements des maladies mentales.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>psychologie</h3>
                                    <p class="fst-italic">La psychologie fait partie des « sciences humaines ». C’est l’étude des faits psychiques, des comportements ainsi que des processus mentaux.</p>
                                    <p>La psychologie est exercée par des psychologues, qui ne sont ni des médecins ni des paramédicaux.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                    <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                                    <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Departments Section -->

    {% endblock %}
{% block body %}
{% endblock %}

    {% block footer %}

        <!-- ======= Footer ======= -->
        <footer id="footer">

            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>ChronicAid</h3>
                            <p>
                                esprit <br>
                                ariana, 2073<br>
                                tunisie <br><br>
                                <strong>Phone:</strong> +21653959280<br>
                                <strong>Email:</strong> raefet.jlidi@esprit.tn<br>
                            </p>
                        </div>

                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>liens utiles</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#hero">acceuil</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#about">a propos</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#departments">departements</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>nos Services</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">les rendez vous</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">le rappel des medicaments</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">les evenments</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">les reclamations</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container d-md-flex py-4">

                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">
                        &copy; Copyright <strong><span>ChronicAid</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
                        Designed by <a href="">powerdevs</a>
                    </div>
                </div>
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="https://www.facebook.com/profile.php?id=100089959789141&mibextid=ZbWKwL" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100089959789141&mibextid=ZbWKwL" class="instagram"><i class="bx bxl-instagram"></i></a>

                </div>
            </div>
        </footer><!-- End Footer -->

    {% endblock %}
</body>

</html>
